<!--
  Generated template for the WorkerAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Employés</ion-title>
		<button ion-button="" menuToggle="">
				<ion-icon name="menu"></ion-icon>
			  </button>
	</ion-navbar>

</ion-header>


<ion-content>
	<form (ngSubmit)=[onSubmit()] [formGroup]="form">
		<ion-grid class="grid-center-md grid-center-ios">


			<ion-row justify-content-center class="row-top">
				<ion-col  col-sm col-auto >
					<h2 text-capitalise >Création</h2>
				</ion-col>
			</ion-row>
			
			<ion-row justify-content-center class="row-top">
				<ion-col col-8 col-sm col-auto  >

					<button class="btn-icon-avatar img-profil" (tap)="imageWidget()">
							<ion-avatar><img [src]="assets/icon/camera.png" *ngIf="!url"></ion-avatar>
						<ion-avatar><img [src]="url" *ngIf="url"></ion-avatar>
						<p>Ajouter une logo</p>
					</button>

				</ion-col>
			</ion-row>

			<ion-row justify-content-center class="center-block-reservation">
				<ion-col col-12 col-sm col-auto >
					<ion-list class="list_" padding-top maring-top>
						
						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin>
								<span class = "input-label">Matricule</span>
							</ion-label>
							<ion-input formControlName="matricule" id="matricule" type="text" stacked required></ion-input>
						</ion-item>

						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin>
								<span class = "input-label">Nom</span>
							</ion-label>
							<ion-input formControlName="name" id="name" type="text" stacked required></ion-input>
						</ion-item>

						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin>
								<span class = "input-label">Poste</span>
							</ion-label>

							<ion-select formControlName="type" cancelText="Annuler" okText="Ok">
								<ion-option  *ngFor="let types of workertypes" [value]="types.key">{{types.occupation}}</ion-option>
							</ion-select>
						</ion-item>

						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin>
								<span class = "input-label">Téléphone</span>
							</ion-label>
							<ion-input formControlName="tel" id="tel" type="number" stacked required></ion-input>
						</ion-item>

					</ion-list>
					<div >
						<button ion-button block class="button-and button-ios">Enregistrer</button>
					</div>
				</ion-col>
			</ion-row>		
		</ion-grid>
	</form>
</ion-content>
