page-login {
	.row-footer {
		button {
			padding:unset;
		}
	}
	
	.list-ios , .list-md {
		margin-bottom: unset ;
	}

    ._title {
    }
    .button-md ,.button-ios{
		text-transform: inherit;
		height: 3.6rem;
		font-size: 1.3rem; 
		font-weight: 500;
		min-height: 45px;
		background-color: #212121 ;
		margin: 114px 0 0px 0;
		color: white;
		border-radius: unset ;
		border-radius: 8px;
		ion-icon {
			font-size: 1.7em;
    		margin-right: 10px;
		}
	}
	ion-img {
	    min-width: 200px !important;
	    min-height: 240px ;
	    background-color: transparent;
	    margin-top: 50px;
	    img {
    		max-width: 100%;
    		width: 81%;
    		margin: auto;
		}
    }
    ion-row {
    	text-align: center;
    }
}
