<ion-header>

	<ion-navbar>

	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>

	<ion-title class="title-after-toggle-back">Détails</ion-title>
		
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-grid class="grid-center-md grid-center-ios" *ngIf="param">
		<ion-row justify-content-center class="row-top">
			<ion-col  col-sm col-auto >
				<h2 text-capitalise >{{ cooperative.name }}</h2>
			</ion-col>
		</ion-row>
		<ion-row class="img-logo">
			<ion-col  col-sm col-auto>
				<img [src]="cooperative.logo">
			</ion-col>
		</ion-row>
		<ion-row justify-content-center class="row-top">
			<ion-col  col-sm col-auto >
				<h3 text-capitalise *ngIf="!cooperative.status">En attente de validation</h3>
			</ion-col>
		</ion-row>

		<ion-row justify-content-center class="row-top">
			<ion-col  col-sm col-auto >
				<!-- <p>Son adresse : {{cooperative?.addrContact}}</p> -->
				<p>Description de la coopérative : {{cooperative?.desc}}</p>
			</ion-col>
		</ion-row>

		<ion-row justify-content-center class="row-center content-body">
			<ion-col col-11 col-sm col-auto>
				<ion-list>

					<ion-item >
						<ion-avatar item-start><img src="assets/icon/user.png"></ion-avatar>
						<ion-label>
							<b>Responsable</b><span class="details">{{ cooperative.nameContact }}</span>
						</ion-label>
					</ion-item>

					<ion-item >
						<ion-avatar item-start><img src="assets/icon/phone.png"></ion-avatar>
						<ion-label>
							<b>Contact</b><span class="details">{{ cooperative.telContact }}</span>
						</ion-label>
					</ion-item>
					
					
					<button ion-item (tap)="goToManage()">
						<ion-avatar  item-start ><img src="assets/icon/reservation.png"></ion-avatar>
						Modifier
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button>

					<button ion-item (tap)="goToParams()">
						<ion-avatar  item-start ><img src="assets/icon/parameter.png"></ion-avatar>
						Paramètres
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button>

					<!--<button ion-item (tap)="goToVoyage()">
						<ion-avatar  item-start ><img src="assets/icon/journey.png"></ion-avatar>
						Voyages
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button> -->

					<button ion-item (tap)="goToPlannig()">
						<ion-avatar  item-start ><img src="assets/icon/calendar.png"></ion-avatar>
						Planifications
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button>

					<button ion-item (tap)="goToTrajet()">
						<ion-avatar  item-start ><img src="assets/icon/journey.png"></ion-avatar>
						Trajets
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button>

					<button ion-item (tap)="goToBookingClass()">
						<ion-avatar  item-start ><img src="assets/icon/book.png"></ion-avatar>
						Classes
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button>

					<button ion-item (tap)="goToCar()">
						<ion-avatar  item-start ><img src="assets/icon/car.png"></ion-avatar>
						Voitures
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button>

					<button ion-item (tap)="goToWorker()">
						<ion-avatar  item-start ><img src="assets/icon/man.png"></ion-avatar>
						Employés
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button>

					<button ion-item (tap)="goToDashboard()">
						<ion-avatar  item-start ><img src="assets/icon/dashboard.png"></ion-avatar>
						Tableau de bord
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button>

					<button ion-item (tap)="delete()">
						<ion-avatar  item-start ><img src="assets/icon/trash.png"></ion-avatar>
						Supprimer
						<ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</button>

				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
