<ion-header>

  <ion-navbar>
    <ion-title>Administrateurs</ion-title>
    <button ion-button="" menuToggle="">
      <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="key">
  <ion-grid class="grid-center-md grid-center-ios" >

    <ion-row justify-content-center class="row-top">
      <ion-col  col-sm col-auto >
        <h2 text-capitalise >Amis sur Facebook</h2>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center class="row-top">
      <ion-col  col-sm col-auto>
        <img src="assets/icon/admin-add.png" class="img-top">
      </ion-col>
    </ion-row>

    <ion-row justify-content-center class="row-center content-body">
      <ion-col col-11 col-sm col-auto>
        <ion-list>
        
           <button ion-item *ngFor="let friend of myFriends" (tap)="addToAdmins(friend.id,friend.name,friend?.email)" >
            <ion-avatar  item-start ><img [src]="friend?.picture"></ion-avatar>
            {{ friend.name }} - {{friend?.email}}
            <ion-icon item-end ios="ios-add" md="md-add"></ion-icon>
          </button>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
