<ion-header>

  <ion-navbar>
    <ion-title>Voiture</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid class="grid-center-md grid-center-ios" >

    <ion-row justify-content-center class="row-top">
      <ion-col  col-sm col-auto >
        <h2 class="title_" text-capitalise >{{ car?.matricule }}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="img-profil">
      <ion-col  col-sm col-auto>
        <img [src]="car?.image" class="logo-reservation">        
      </ion-col>
    </ion-row>

    <ion-row justify-content-center class="row-center">
      <ion-col col-11 col-sm col-auto>
        <ion-list>


          <ion-item>
            <ion-avatar item-start><img src="assets/icon/car-type.png"></ion-avatar>
            <ion-label>
              <p>Type de voiture</p><p>{{ cartype?.type }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar item-start><img src="assets/icon/matricule.png"></ion-avatar>
            <ion-label>
              <p>Matricule</p><p>{{ car?.matricule }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar item-start><img src="assets/icon/seats.png"></ion-avatar>
            <ion-label>
              <p>Places</p><p>{{ car?.nbplace }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar item-start><img src="assets/icon/status-tag.png"></ion-avatar>
            <ion-label>
              <p>Etat</p><p>{{ car?.status }}</p>
            </ion-label>
          </ion-item>

          <button ion-item (click)="editer()">
            <ion-avatar  item-start ><img src="assets/icon/edit.png"></ion-avatar>
            Modifier
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </button>

          <button ion-item (click)="delete()">
            <ion-avatar  item-start ><img src="assets/icon/trash.png"></ion-avatar>
            Supprimer
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </button>

        </ion-list>
      </ion-col>
    </ion-row>


    <div class="center-content">
      <ion-grid class="grid-center">
        <ion-row justify-content-center margin-top class="content-center">
          <ion-col col-auto>
            <div *ngFor="let row of rows">
              <span class="seat" *ngFor="let col of cols"
              [ngSwitch]="getStatus(row + col)">

              <span *ngSwitchCase="'reserved'">
                <ion-icon ios="ios-square" md="md-square" class="ion-icon-md ion-icon-ios reservedSeat width-icon-center"></ion-icon>
              </span>              
              <span *ngSwitchCase="'notavailable'">
                <ion-icon ios="ios-expand" md="md-expand" class="ion-icon-md ion-icon-ios notAvailable width-icon-center"></ion-icon>
              </span>
              <span *ngSwitchDefault>
                <ion-icon ios="ios-square" md="md-square" class="ion-icon-md ion-icon-ios freeSeat width-icon-center"></ion-icon>
              </span>
            </span>
          </div>
          <div class="footer-img"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-grid>
</ion-content>
