<ion-header>

	<ion-navbar>
		<ion-title class="title-after-toggle-back">Voiture</ion-title>
		<button ion-button="" menuToggle="">
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-navbar>

</ion-header>

<ion-content >
	<form (ngSubmit)=[onSubmit()] [formGroup]="form">
		<ion-grid class="grid-center-md grid-center-ios">

			<ion-row justify-content-center class="row-top">
				<ion-col  col-sm col-auto >
					<h2  text-capitalise >Création</h2>
				</ion-col>
			</ion-row>

			<ion-row justify-content-center class="row-top">
				<ion-col col-8 col-sm col-auto  >

					<button class="btn-icon-avatar img-profil" (tap)="imageWidget()">
						<ion-avatar><img [src]="url" ></ion-avatar>
						<p>Ajouter une logo</p>
					</button>

				</ion-col>
			</ion-row>

			<ion-row justify-content-center class="center-block-reservation">
				<ion-col col-12 col-sm col-auto >
					<ion-list class="list_" padding-top maring-top>

						
						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin class="item item-input">
								<span class = "input-label">Matricule : </span>
							</ion-label>
							<ion-input dir="rtl" formControlName="matricule" id="matricule" type="text" stacked required></ion-input>
						</ion-item>

						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin class="item item-input">
								<span class = "input-label">Modèle : </span>
							</ion-label>
							<ion-select formControlName="cartype" (ionChange)="getNbplace($event)" >
								<ion-option *ngFor="let cartype of cartypes" [value]="cartype.key">{{cartype.type}}</ion-option>
							</ion-select>			 				
						</ion-item>

						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin class="item item-input">
								<span class = "input-label">Nombre de place : </span>
							</ion-label>
							<ion-input dir="rtl" formControlName="nbplace" id="nbplace" type="text" stacked required [(ngModel)]="nbplace"></ion-input>
						</ion-item>

						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin class="item item-input">
								<span class = "input-label">Etat : </span>
							</ion-label>
							<ion-select formControlName="status" cancelText="Annuler" okText="Ok">
								<ion-option  *ngFor="let status of statusList" [value]="status.en">{{status.fr}}</ion-option>
							</ion-select>							
						</ion-item>

						<ion-item>
							<ion-label>Employés : </ion-label>
							<ion-select  multiple="true" [(ngModel)]="workers" id="workers" formControlName="workers">
								<ion-option *ngFor="let worker of workersList" [value]="worker.key">{{worker.name}} - {{worker.type.occupation}}</ion-option>
							</ion-select>
						</ion-item>

					</ion-list>
					<div >
						<button ion-button block class="button-and button-ios">Enregistrer</button>
					</div>
				</ion-col> 
			</ion-row>		
		</ion-grid>
	</form>
</ion-content>
