<ion-header>

	<ion-navbar>
		<ion-title>Voiture</ion-title>
	</ion-navbar>

</ion-header>

<ion-content >
	<form (ngSubmit)=[onSubmit()] [formGroup]="form">
		<ion-grid class="grid-center-md grid-center-ios">
			<ion-row justify-content-center class="row-top">
				<ion-col col-8 col-sm col-auto >

					<img [src]="url" class="logo-reservation">
					<h3 class="title_reservation" text-capitalise >Création</h3>
				</ion-col>
			</ion-row>
			<ion-row justify-content-center class="center-block-reservation">
				<ion-col col-12 col-sm col-auto >
					<ion-list class="list_" padding-top maring-top>
						
						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin>
								<ion-icon ios="ios-create" md="md-create" class="ion-icon-md ion-icon-ios"></ion-icon>
							</ion-label>
							<ion-input formControlName="matricule" id="matricule" type="text" placeholder="Matricule" stacked required></ion-input>
						</ion-item>

						<ion-row>
							<ion-col width-50>
								<button ion-button color="danger" type="button" full round large (click)="fromCamera()">
									<ion-icon name="md-camera"></ion-icon>
								</button>
							</ion-col>
							<ion-col width-50>
								<button ion-button color="secondary" type="button" full round large (click)="fromGallery()">
									<ion-icon name="md-image"></ion-icon>
								</button>
							</ion-col>
						</ion-row>

						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin>
								<ion-icon ios="ios-create" md="md-create" class="ion-icon-md ion-icon-ios"></ion-icon>
							</ion-label>
							<ion-select formControlName="cartype" (ionChange)="getNbplace($event)" >
								<ion-option *ngFor="let cartype of cartypes" [value]="cartype.key">{{cartype.type}}</ion-option>
							</ion-select>			 				
						</ion-item>

						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin>
								<ion-icon ios="ios-create" md="md-create" class="ion-icon-md ion-icon-ios"></ion-icon>
							</ion-label>
							<ion-input formControlName="nbplace" id="nbplace" type="text" placeholder="Nombre de place" stacked required [(ngModel)]="nbplace"></ion-input>
						</ion-item>

						<ion-item class="input-cover-md input-cover-ios" >
							<ion-label no-padding no-margin>
								<ion-icon ios="ios-create" md="md-create" class="ion-icon-md ion-icon-ios"></ion-icon>
							</ion-label>
							<ion-select formControlName="status">
								<ion-option  *ngFor="let status of statusList" [value]="status">{{status}}</ion-option>
							</ion-select>							
						</ion-item>

					</ion-list>
					<div >
						<button ion-button block class="button-and button-ios">Enregistrer</button>
					</div>
				</ion-col> 
			</ion-row>		
		</ion-grid>
	</form>
</ion-content>
