page-dashboard {
	ion-avatar img{
		width: 6rem;
		margin: auto
	}

	.card-md{
		background-color: #f4f5f5 !important;
		h2 {
			font-size: 2.6rem;
			color: #0a5284;
			text-align: center;
		}
		p {
			font-size: 1.3rem;
		}
	}

	.grid{
		width: 98% !important;
		background-color: #f4f5f5;
		border-radius: 5px 5px 5px 5px;
	}




}
