<ion-header>

  <ion-navbar>

      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title>Mes Coopérative</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-grid class="grid-center-md grid-center-ios" >

    <ion-row justify-content-center class="row-top">
      <ion-col  col-sm col-auto >
        <h2 text-capitalise >Liste</h2>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center class="row-top">
      <ion-col  col-sm col-auto>
        <img src="assets/icon/list.png" class="img-top">
      </ion-col>
    </ion-row>

    <ion-row justify-content-center class="row-center content-body">
      <ion-col col-10 col-sm col-auto>
        <ion-list>
        
           <button ion-item (tap)="onClickItem(coop.key)" *ngFor="let coop of cooperatives">
            <ion-avatar  item-start ><img [src]="coop.logo"></ion-avatar>
            {{ coop?.name }} - {{coop?.desc}}
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </button>

          <ion-item *ngIf="empty">
            <ion-avatar item-start><img src="assets/icon/warning.png"></ion-avatar>
            Aucune coopérative
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
