<!--
  Generated template for the VoyageCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Voyages</ion-title>
    <button ion-button="" menuToggle="">
            <ion-icon name="menu"></ion-icon>
          </button>
</ion-navbar>

</ion-header>


<ion-content *ngIf="param">
    <form (ngSubmit)=[onSubmit()] [formGroup]="form">

        <ion-grid class="grid-center-md grid-center-ios">
          <ion-row justify-content-center class="row-top">
            <ion-col  col-sm col-auto >
                <h2 text-capitalise >Création</h2>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center class="row-top">
            <ion-col  col-sm col-auto>
                <img src="assets/icon/add.png" class="img-top">
            </ion-col>
        </ion-row>

        <ion-row justify-content-center class="center-block-reservation">
            <ion-col col-12 col-sm col-auto >
                <ion-list class="list_" padding-top maring-top>
                    <ion-item>
                      <ion-label no-padding no-margin>
                        <span class = "input-label">Station de départ</span>
                    </ion-label>
                    <ion-select formControlName="startstation" cancelText="Annuler" okText="Ok">
                        <ion-option  *ngFor="let stat of stations" [value]="stat.key">{{stat.city}}, {{stat.location}}, {{stat.name}}</ion-option>
                    </ion-select>
                </ion-item>

            <ion-item>
                <ion-label no-padding no-margin>
                    <span class = "input-label">Destination</span>
                </ion-label>
                <ion-select formControlName="arrivalstation" cancelText="Annuler" okText="Ok">
                    <ion-option  *ngFor="let station of stations" [value]="station.key">{{station.city}}, {{station.location}}, {{station.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item class="input-cover-md input-cover-ios" >
                <ion-label no-padding no-margin>
                    <span class = "input-label">Date de départ</span> 
                </ion-label>
                <ion-datetime displayFormat="DD MM YYYY" [min]="min.getFullYear()" [max]="min.getFullYear() + 1" formControlName="date" id="date"></ion-datetime>
            </ion-item>

            <ion-item class="input-cover-md input-cover-ios" >
                <ion-label no-padding no-margin>
                    <span class = "input-label">Heure de départ</span> 
                </ion-label>
                <ion-datetime displayFormat="HH:mm" formControlName="time" id="time" cancelText="Annuler" doneText="ok"></ion-datetime>
            </ion-item>

            <ion-item class="input-cover-md input-cover-ios" >
                <ion-label no-padding no-margin>
                    <span class = "input-label">Prix du voyage</span>
                </ion-label>
                <ion-input formControlName="price" id="price" type="text" stacked required></ion-input>
            </ion-item>

        </ion-list>
        <div >
            <button ion-button block class="button-and button-ios" type="onSubmit">Enregistrer</button>
        </div>

    </ion-col>
</ion-row>		
</ion-grid>
</form>
</ion-content>