<!--
  Generated template for the VoyageListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>voyage-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let voyage of voyages" >
			<ion-label (click)="onClickItem(voyage.key)">
				<div *ngFor="let station of stations">
					<span *ngIf="station.key === voyage.arrivalstation">{{ station.city }}, </span>
				</div>
				
				<span>{{ voyage.date }}, </span>
				<span>{{ voyage.price }}, </span>
	 			<div *ngFor="let station of stations">
					<span *ngIf="station.key === voyage.startstation">{{ station.city }}, </span>
				</div>
			</ion-label>
		</ion-item>
	</ion-list>

</ion-content>
