<!--
  Generated template for the TrajetCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Création de Trajet</ion-title>
    <button ion-button="" menuToggle="">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="coop">
  <form (ngSubmit)=[onSubmit()] [formGroup]="form">

      <ion-grid class="grid-center-md grid-center-ios">
        <ion-row justify-content-center class="row-top">
          <ion-col  col-sm col-auto >
              <h2 text-capitalise >Création</h2>
          </ion-col>
      </ion-row>
      <ion-row justify-content-center class="row-top">
          <ion-col  col-sm col-auto>
              <img src="assets/icon/add.png" class="img-top">
          </ion-col>
      </ion-row>

      <ion-row justify-content-center class="center-block-reservation">
          <ion-col col-12 col-sm col-auto >
              <ion-list class="list_" padding-top maring-top>
                  <ion-item>
                    <ion-label no-padding no-margin>
                      <span class = "input-label">Départ</span>
                  </ion-label>
                  <ion-select formControlName="depart" cancelText="Annuler" okText="Ok">
                      <ion-option  *ngFor="let stat of stations" [value]="stat.key">{{stat.city}}, {{stat.location}}, {{stat.name}}</ion-option>
                  </ion-select>
              </ion-item>

          <ion-item>
              <ion-label no-padding no-margin>
                  <span class = "input-label">Destination</span>
              </ion-label>
              <ion-select formControlName="arrive" cancelText="Annuler" okText="Ok">
                  <ion-option  *ngFor="let station of stations" [value]="station.key">{{station.city}}, {{station.location}}, {{station.name}}</ion-option>
              </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Les classes : </ion-label>
            <ion-select  multiple="true" [(ngModel)]="selectClasse">
                <ion-option *ngFor="let classe of classes" [value]="classe.key">{{classe.type}}</ion-option>
            </ion-select>
        </ion-item>

        <div *ngIf="prices">
            <ion-item class="input-cover-md input-cover-ios" *ngFor="let price of prices">
                <ion-label no-padding no-margin>
                    <span class = "input-label">Prix du voyage de classe {{ price.classe }} : </span>
                </ion-label>
                <ion-input id="price" type="number" stacked required [(ngModel)]="price.price"></ion-input>
            </ion-item>
        </div>

      <div >
          <button ion-button block class="button-and button-ios" type="onSubmit">Enregistrer</button>
      </div>

  </ion-col>
</ion-row>		
</ion-grid>
</form>
</ion-content>
