<!--
  Generated template for the TripAffectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Affectation voiture</ion-title>
		<button ion-button="" menuToggle="">
				<ion-icon name="menu"></ion-icon>
			  </button>
	</ion-navbar>

</ion-header>


<ion-content padding *ngIf="key">
<ion-grid class="grid-center-md grid-center-ios" *ngIf="key">

	<ion-row justify-content-center class="row-top">
			<ion-col  col-sm col-auto >
				<h2 text-capitalise ></h2>
			</ion-col>
		</ion-row>

		<ion-row justify-content-center class="row-top">
			<ion-col  col-sm col-auto >
				<img src="assets/icon/car-plannification.png" class="img-top">
			</ion-col>
		</ion-row>


	<ion-item>
		<ion-label>Voiture</ion-label>
		<ion-select  multiple="true" [(ngModel)]="selectedCar" cancelText="Annuler" okText="Ok">
			<ion-option *ngFor="let car of cars" [value]="car.matricule">{{car.matricule}}</ion-option>
		</ion-select>
	</ion-item>
	<div >
		<button ion-button block class="button-and button-ios" type="onSubmit" (click)="save()" >Enregistrer</button>
	</div>
</ion-grid>
</ion-content>
