<!--
  Generated template for the WorkerEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Employés</ion-title>
    <button ion-button="" menuToggle="">
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)=[onSubmit()] [formGroup]="form">
    <ion-grid class="grid-center-md grid-center-ios" *ngIf="key && cooperativeKey">


      <ion-row justify-content-center class="row-top">
        <ion-col  col-sm col-auto >
          <h2 text-capitalise >Modification</h2>
        </ion-col>
      </ion-row>
      <ion-row class="" *ngIf="!url">
        <ion-col  col-sm col-auto>
          <img src="assets/icon/add.png" class="img-top">        
        </ion-col>
      </ion-row>

      <ion-row justify-content-center class="row-top">
        <ion-col col-8 col-sm col-auto  >

          <button class="btn-icon-avatar img-profil" (tap)="imageWidget()">
            <ion-avatar><img [src]="url" ></ion-avatar>
            <p>Modifier une logo</p>
          </button>

        </ion-col>
      </ion-row>

      <ion-row justify-content-center class="center-block-reservation">
        <ion-col col-12 col-sm col-auto >
          <ion-list class="list_" padding-top maring-top>
            <ion-item class="input-cover-md input-cover-ios" >
              <ion-label no-padding no-margin>
                <ion-icon ios="ios-pin" md="md-pin" class="ion-icon-md ion-icon-ios"></ion-icon>
              </ion-label>
              <ion-input formControlName="matricule" id="matricule" type="text" placeholder="Matricule" [(ngModel)]="worker.matricule" stacked required></ion-input>
            </ion-item>

            <ion-item class="input-cover-md input-cover-ios" >
              <ion-label no-padding no-margin>
                <ion-icon ios="ios-pin" md="md-pin" class="ion-icon-md ion-icon-ios"></ion-icon>
              </ion-label>
              <ion-input formControlName="name" id="name" type="text" placeholder="Nom" [(ngModel)]="worker.name" stacked required></ion-input>
            </ion-item>

            <ion-item class="input-cover-md input-cover-ios" >
              <ion-label no-padding no-margin>
                <ion-icon ios="ios-pin" md="md-pin" class="ion-icon-md ion-icon-ios"></ion-icon>
              </ion-label>

              <ion-select formControlName="type" [(ngModel)]="worker.type" cancelText="Annuler" okText="Ok">
                <ion-option  *ngFor="let types of workertypes" [value]="types.key" >{{types.occupation}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item class="input-cover-md input-cover-ios" >
              <ion-label no-padding no-margin>
                <ion-icon ios="ios-pin" md="md-pin" class="ion-icon-md ion-icon-ios"></ion-icon>
              </ion-label>
              <ion-input formControlName="tel" id="tel" type="tel" placeholder="Telephone" [(ngModel)]="worker.tel" stacked required></ion-input>
            </ion-item>

          </ion-list>
          <div >
            <button ion-button block class="button-and button-ios">Enregistrer</button>
          </div>
        </ion-col>
      </ion-row>		
    </ion-grid>
  </form>
</ion-content>
